.details {
  --details-color: var(--color-green-normal);
  --details-size: var(--size-double);
  --details-line-height: 1.2;
  --details-content-padding: var(--size-single);

  &[data-size='large'] {
    --details-content-padding: var(--size-oneandhalf);
    --details-size: var(--size-triple);
  }

  &[data-size='small'] {
    --details-content-padding: var(--size-three-quarters);
    --details-size: var(--size-oneandhalf);
  }

  color: var(--details-color);
  font-size: var(--details-size);
  line-height: var(--details-line-height);
}

.details_summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  gap: var(--details-content-padding);

  & svg {
    height: calc(var(--details-size) * var(--details-line-height));
    aspect-ratio: 1/1;
  }

  [open] & svg {
    scale: -1;
  }
}

.details_content {
  padding: var(--details-content-padding);
}
