.note {
  --note-color: var(--color-green-normal);
  --note-size: var(--size-double);
  --note-line-height: 1.2;
  --note-content-padding: var(--size-single);
  --note-border-radius: var(--size-half);

  &[data-size='large'] {
    --note-content-padding: var(--size-oneandhalf);
    --note-size: var(--size-triple);
  }

  &[data-size='small'] {
    --note-content-padding: var(--size-three-quarters);
    --note-size: var(--size-oneandhalf);
  }

  & svg {
    height: calc(var(--note-size) * var(--note-line-height));
    aspect-ratio: 1/1;
  }

  display: flex;
  border: solid 1px var(--note-color);
  border-radius: var(--note-border-radius);
  padding: var(--note-content-padding);
  gap: var(--note-content-padding);
  color: var(--note-color);
  font-size: var(--note-size);
  line-height: var(--note-line-height);
}

.note_content {
  margin: 0;
}
