.sudokufield {
  &[data-size='small'] {
    --sudokufield_width: var(--size-double);
    --sudokufield_height: var(--size-double);
    --sudokufield_size: var(--size-oneandhalf);
    --sudokufield_padding: var(--size-quarter);
  }

  &[data-size='middle'] {
    --sudokufield_width: var(--size-quadruple);
    --sudokufield_height: var(--size-quadruple);
    --sudokufield_size: var(--size-triple);
    --sudokufield_padding: var(--size-half);
  }

  --sudokufield_width: var(--size-sextuple);
  --sudokufield_height: var(--size-sextuple);
  --sudokufield_size: var(--size-quadruple);
  --sudokufield_padding: var(--size-single);

  width: var(--sudokufield_width);
  height: var(--sudokufield_height);
  font-size: var(--sudokufield_size);
  text-align: center;
  padding: var(--sudokufield_padding);
  outline: 0;
  color: var(--color-green-dark);
  cursor: pointer;
  border: solid 1px var(--color-green-dark);
  box-sizing: border-box;
  line-height: 0.9;

  &[data-highlighted='true'] {
    background: var(--color-gray-light);

    &:focus {
      background-color: var(--color-green-light);
    }
  }

  &[data-error='true'] {
    color: var(--color-orange-dark);

    &:focus {
      background-color: var(--color-orange-normal);
    }
  }

  &:focus {
    background-color: var(--color-green-light);
  }

  &[aria-disabled='true'] {
    pointer-events: none;
    color: var(--color-gray-normal);
  }
}
