.button {
  background: var(--color-green-normal);
  color: var(--white);
  padding: var(--size-single) var(--size-double);
  font-size: var(--size-double);
  border: none;
  border-radius: var(--size-half);
}
