.pill {
  --pill-color: var(--color-green-normal);
  --pill-bg-color: inherit;
  --pill-border-color: inherit;
  --pill-size: var(--size-double);
  --pill-line-height: 1.2;
  --pill-padding-inline: var(--size-double);
  --pill-padding-block: var(--size-single);

  &[data-size='large'] {
    --pill-padding-inline: var(--size-triple);
    --pill-padding-block: var(--size-oneandhalf);
    --pill-size: var(--size-triple);
  }

  &[data-size='small'] {
    --pill-padding-inline: var(--size-oneandhalf);
    --pill-padding-block: var(--size-three-quarters);
    --pill-size: var(--size-oneandhalf);
  }

  &[data-variant='filled'] {
    --pill-color: var(--white);
    --pill-bg-color: var(--color-green-normal);
    --pill-border-color: var(--color-green-normal);
  }

  &[data-variant='outlined'] {
    --pill-border-color: var(--color-green-normal);
  }

  color: var(--pill-color);
  font-size: var(--pill-size);
  line-height: var(--pill-line-height);
  background-color: var(--pill-bg-color);
  padding: var(--pill-padding-block) var(--pill-padding-inline);
  box-shadow: 0 0 0 1px var(--pill-border-color);
  border-radius: 9in;
  width: fit-content;
}
