.sudokufield {
  width: 50px;
  height: 50px;
  font-size: 28px;
  text-align: center;
  padding: 10px;
  outline: 0;
  color: var(--color-main-dark);
  cursor: pointer;
  border: solid 1px var(--color-main-dark);
  box-sizing: border-box;

  &[data-highlighted='true'] {
    background: var(--color-gray-light);

    &:focus {
      background-color: var(--color-main-light);
    }
  }

  &[data-error='true'] {
    color: var(--color-warn-dark);

    &:focus {
      background-color: var(--color-warn-normal);
    }
  }

  &:focus {
    background-color: var(--color-main-light);
  }

  &[aria-disabled='true'] {
    pointer-events: none;
    color: var(--color-gray-normal);
  }
}
