.sudokufield {
  width: 50px;
  height: 50px;
  font-size: 28px;
  text-align: center;
  padding: 10px;
  outline: 0;
  color: var(--color-green-dark);
  cursor: pointer;
  border: solid 1px var(--color-green-dark);
  box-sizing: border-box;
  line-height: 1;

  &[data-highlighted='true'] {
    background: var(--color-gray-light);

    &:focus {
      background-color: var(--color-green-light);
    }
  }

  &[data-error='true'] {
    color: var(--color-orange-dark);

    &:focus {
      background-color: var(--color-orange-normal);
    }
  }

  &:focus {
    background-color: var(--color-green-light);
  }

  &[aria-disabled='true'] {
    pointer-events: none;
    color: var(--color-gray-normal);
  }
}
