.sudokuplay {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  width: fit-content;
  border: solid 2px var(--color-dark);
}

.sudokuplay_leftborder {
  border-left-width: 2px;
}

.sudokuplay_bottomborder {
  border-bottom-width: 2px;
}
