:root {
  //background-image: url('/background.png');
  //background-size: 100vw;
  //background-repeat: no-repeat;
  //--page-background-color: none;
}

.container {
  display: flex;
  flex: 1;
  align-items: stretch;
}
