.container {
  background-image: url('/background.png');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: var(--size-octuple);
}

.header {
  width: fit-content;
  font-size: var(--size-sixteenfold);
  color: var(--white);
  margin: 0;
  text-shadow: var(--size-single) var(--size-single) var(--black);
  @media (max-width: 600px) {
    font-size: var(--size-octuple);
    text-shadow: var(--size-half) var(--size-half) var(--black);
  }
}

.app_footer {
  font-weight: bold;
  color: var(--white);
  text-align: center;
  margin: 0;
  padding: var(--size-double)
    calc((100% - var(--breakpoint-laptop)) / 2 + var(--size-double));
}
