@import '../../mixins.scss';

.textfield_root {
  --textfield-border-color: var(--color-green-normal);
  --textfield-radius: var(--size-half);
  --textfield-padding-block: var(--size-single);
  --textfield-padding-inline: var(--size-double);
  --textfield-size: var(--size-double);
  --textfield-outline-color: none;
  --textfield-outline-width: var(--size-quarter);
  --textfield-outline-offset: var(--size-quarter);
  --textfield-outline-radius: calc(
    var(--textfield-radius) + var(--textfield-outline-offset)
  );
}

.textfield_input_container {
  display: flex;
  border: solid 1px var(--textfield-border-color);
  border-radius: var(--textfield-radius);
  padding: var(--textfield-padding-block) var(--textfield-padding-inline);

  &:focus-within {
    --textfield-outline-color: var(--color-green-dark);
  }

  @include focus-mixin(
    var(--textfield-outline-width),
    var(--textfield-outline-color),
    var(--textfield-outline-offset),
    var(--textfield-outline-radius)
  );
}

.textfield_input {
  border: none;
  outline: none;
  padding: 0;
  flex: 1;
  line-height: 1.2;
  font-size: var(--textfield-size);
  height: calc(var(--textfield-size) * 1.2);
  box-sizing: content-box;
}
