.textfield_root {
  --textfield-border-color: var(--color-green-normal);
  --textfield-color: var(--color-green-normal);
  --textfield-radius: var(--size-half);
  --textfield-padding-block: var(--size-single);
  --textfield-padding-inline: var(--size-double);
  --textfield-size: var(--size-double);
  --textfield-outline-width: 1px;

  display: flex;
  flex-direction: column;
  gap: var(--size-half);

  &[aria-disabled='true'] {
    --textfield-border-color: var(--color-gray-normal);
    --textfield-color: var(--color-gray-normal);
  }
}

.textfield_input_container {
  display: flex;
  cursor: text;
  box-shadow: 0 0 0 var(--textfield-outline-width) var(--textfield-border-color);
  border-radius: var(--textfield-radius);
  overflow: hidden;

  &:focus-within,
  &:active:not(:has(:disabled)) {
    --textfield-color: var(--color-green-dark);
    --textfield-border-color: var(--color-green-dark);
    --textfield-outline-width: var(--size-quarter);
  }
}

.textfield_label {
  line-height: 1.2;
  font-size: var(--textfield-size);
  color: var(--textfield-color);
  font-weight: 600;
}

.textfield_input {
  border: none;
  outline: none;
  padding: 0;
  flex: 1;
  line-height: 1.2;
  padding: var(--textfield-padding-block) var(--textfield-padding-inline);
  font-size: var(--textfield-size);
  height: calc(var(--textfield-size) * 1.2);
  color: var(--textfield-color);
  box-sizing: content-box;

  &::placeholder {
    color: color-mix(in srgb, var(--color-green-dark) 30%, var(--white));
  }
}
