:root {
  --page-background-color: var(--white);
  --header-text-color: var(--white);
  --header-background-color: var(--color-green-dark);
  --footer-text-color: var(--color-green-dark);
}

.main_layout_header,
.main_layout_main,
.main_layout_footer {
  margin: 0;
  padding: var(--size-double)
    calc((100% - var(--breakpoint-laptop)) / 2 + var(--size-double));
}

.main_layout_main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.main_layout_header {
  z-index: 1;
  display: flex;
  gap: var(--size-double);
  align-items: center;
  color: var(--header-text-color);
  position: sticky;
  top: 0;
  background: var(--header-background-color);
  box-shadow: 0 var(--size-double) var(--size-double)
    var(--page-background-color);
  margin-bottom: var(--size-double);
}

.main_layout_header_title {
  margin: 0;
}

.main_layout_footer {
  font-weight: bold;
  color: var(--footer-text-color);
  text-align: center;
  background: var(--page-background-color);
}

@media (max-width: 1056px) {
  .main_layout_header,
  .main_layout_main,
  .main_layout_footer {
    padding: var(--size-double);
  }
}
