@mixin focus-mixin(
  $width: 2px,
  $color: #0a5a8f,
  $inset: $width,
  $outline-radius: inherit
) {
  position: relative;
  &::before {
    position: absolute;
    inset: calc(0px - $inset);
    pointer-events: none;
    content: '';
    border: $width solid $color;
    border-radius: $outline-radius;
  }
}
