:root {
  --white: #fff;

  --color-green-dark: #004445;
  --color-green-normal: #2c7873;
  --color-green-light: #6fb98f;

  --color-gray-dark: #7d7c7c;
  --color-gray-normal: #d8d9da;
  --color-gray-light: #f1efef;

  --color-orange-dark: #c63d2f;
  --color-orange-normal: #ff9b50;
  --color-orange-light: #ffbb5c;

  --size-quarter: 0.125rem;
  --size-half: 0.25rem;
  --size-three-quarters: 0.375rem;
  --size-single: 0.5rem;
  --size-oneandhalf: 0.75rem;
  --size-double: 1rem;
  --size-triple: 1.5rem;
  --size-quadruple: 2rem;
  --size-quintuple: 2.5rem;
  --size-sextuple: 3rem;
  --size-septuple: 3.5rem;
  --size-octuple: 4rem;

  --breakpoint-laptop: 1024px;
  --breakpoint-tablet: 768px;
  --breakpoint-mobile-l: 425px;
  --breakpoint-mobile-m: 375px;
  --breakpoint-mobile-s: 320px;
}
