:root {
  --color-main-darkest: #021c1e;
  --color-main-dark: #004445;
  --color-main-normal: #2c7873;
  --color-main-light: #6fb98f;
  --color-main-lightest: #fff;

  --color-gray-dark: #7d7c7c;
  --color-gray-normal: #d8d9da;
  --color-gray-light: #f1efef;

  --color-warn-dark: #c63d2f;
  --color-warn-normal: #ff9b50;
  --color-warn-light: #ffbb5c;

  --size-quarter: 0.125rem;
  --size-half: 0.25rem;
  --size-three-quarters: 0.375rem;
  --size-single: 0.5rem;
  --size-double: 1rem;
  --size-triple: 1.5rem;
  --size-quadruple: 2rem;

  --breakpoint-laptop: 1024px;
  --breakpoint-tablet: 768px;
  --breakpoint-mobile-l: 425px;
  --breakpoint-mobile-m: 375px;
  --breakpoint-mobile-s: 320px;
}
